 <body id="page-top">
  <div id="wrapper">
    <%= render  "admin/sidebar" %>
      <div id="content-wrapper" class="d-flex flex-column">
        <div id="content">
          <%= render  "admin/header" %>
          <%= render  "admin/bodytable" %>
        </div>
          <%= render  "admin/footer" %> 
      </div>
  </div>
  <a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
  </a>
  <%= render  "admin/logout" %>
</body>