<dialog id="favDialog" class="border-0 dialog rounded">
  <%= form_for [:admins, @report], remote: true do |dialog| %>
      <h3 class="dialog-header">Report post</h3>
      <div class="dialog-item mb-2">
        <%= dialog.hidden_field :user_id, value: current_user.id %>
        <%= dialog.hidden_field :reportable_id, value: @post.id %>
        <%= dialog.hidden_field :reportable_type, value: 'Post' %>
        <input type="radio" name="report[status]" value="Spam" id="spam"> 
        <label for="spam">Spam</label><br>
        <input type="radio" name="report[status]" value="Copyright" id="copyright">
        <label for="copyright">Copyright</label><br>
      </div>
      <%= dialog.text_area :content, class: "dialog-textarea pl-2 mt-2", placeholder:"  Comment" %>
    <menu class="text-right">
      <button type="button" id="cancel" class="btn">Cancel</button>
      <%= dialog.submit 'Report', class: 'btn btn-primary btn-report' %>
    </menu>
  <% end %>
</dialog>