<div class="view-blog bg-white p-3">
  <div class="title-blog p-1">
    <i class="far fa-chart-bar" aria-hidden="true"></i>
    <span class="font-size-11em">Trends</span>
    <span class="text-muted font-size-08em">Remarkable items. Refleshed every Monday.</span>
  </div>
  <div>
    <nav class="nav border-bottom">
      <%= link_to "Daily", root_path, class: "nav-link text-muted " %>
      <%= link_to "Weekly", posts_weekly_path, class: "nav-link text-muted navbar-root-active " %>
      <%= link_to "Monthly", posts_monthly_path, class: "nav-link text-muted" %>
    </nav>
    <% @posts_weekly.each do |post| %>
      <%= render partial: "home/post_index/topic", locals: {post: post} %>
    <% end %>
    <%== render partial: 'users/shared/pagination', locals: { pagy: @pagy_weekly} %>
  </div>
</div>