<div class="view-blog paddingx-3" id="index">
  <div>
    <nav class="nav d-flex justify-content-end w-100">
      <%= link_to fa_icon("fas fa-newspaper", "Newest"), root_path, class: "nav-link text-muted-light #{active_post_home('daily')}" %>
      <%= link_to fa_icon("fab fa-weebly", "Weekly"), '?scope=weekly', class: "nav-link text-muted-light #{active_post_home('weekly')}" %>
      <%= link_to fa_icon("fab fa-meetup", "Monthly"), '?scope=monthly', class: "nav-link text-muted-light #{active_post_home('monthly')}" %>
    </nav>
    <% @posts.each do |post| %>
      <%= render partial: "home/post_index/topic", locals: { post: post }%>
    <% end %>
    <%== render partial: 'users/shared/pagination', locals: { pagy: @pagy } %>
  </div>
</div>
