<div class="view-blog px-3">
  <div>
    <nav class="nav d-flex justify-content-end w-100">
      <%= link_to "Newest", root_path, class: "nav-link text-muted #{active_post_home('daily')}" %>
      <%= link_to "Weekly", '?scope=weekly', class: "nav-link text-muted #{active_post_home('weekly')}" %>
      <%= link_to "Monthly", '?scope=monthly', class: "nav-link text-muted #{active_post_home('monthly')}" %>
    </nav>
    <% @posts.each do |post| %>
      <%= render partial: "home/post_index/topic", locals: { post: post }%>
    <% end %>
    <%== render partial: 'users/shared/pagination', locals: { pagy: @pagy } %>
  </div>
</div>
