<div class="row my-3 border-bottom px-2">
  <div class="col-md-1 col-2 text-center p-1">
    <%= image_tag default_avatar_user(post.user), class: 'rounded-circle img-24em' %>
  </div>
  <div class="col-md-11 col-10">
    <div class="text-muted font-size-08em">
      <%= link_to post.user.name, user_path(post.user) %>
      <span class="text-muted">
        <%= time_ago_in_words(post.publish_at) %>
      </span>
    </div>
    <div>
      <%= link_to post.title, post_path(post.id), class: "font-weight-bold text-dark font-size-12em" %>
    </div>
    <div>
      <% post.tags.each do |tag| %>
        <%= link_to tag.name, tag_path(tag.id), class: 'badge badge-light border rounded text-muted mr-1' %>
      <% end%>
    </div>
    <div class="d-flex align-items-center font-size-09em text-muted ">
      <div class="mr-2">
        <%= fa_icon("far fa-eye fa-fw", post.view_count.to_i) %>
      </div>
      <div class="mr-2">
        <%= fa_icon("fa fa-paperclip fa-fw", post.followers.size) %>
      </div>
      <div class="mr-2">
        <%= fa_icon("fas fa-comments fa-fw", post.comments.size) %>
      </div>
      <div class="ml-auto p-2">
        <%= fa_icon("fas fa-sort mr-1", post.vote) %>
      </div>
    </div>
  </div>
</div>
