<div class="container-fluid">
    <div class="card shadow mb-4">
        <div class="card-header py-3 d-flex">
            <h6 class="m-0 font-weight-bold text-primary">Tags &emsp; </h6>
            <h6 class="m-0 font-weight-bold text-primary"><i class="fas fa-plus-circle text-primary"></i> 
            <%= link_to 'New tag', new_admins_tag_path, data: {turbolinks: false} %>
            </h6>
        </div>
        <div class="card-body">
            <div class="table-responsive-xl">
                <table class="table table-hover text-center text-white table-dark" id="table-tag" width="100%" cellspacing="0">
                <thead>
                    <tr>
                      <th>ID</th>
                      <th>Name</th>
                      <th>Avatar</th>
                      <th>Created At</th>
                      <th colspan="3" >Action</th>
                    </tr>
                  </thead>
                <tbody>
                  <% @tags.each do |tag_item| %>
                      <tr>
                        <td><%= tag_item.id %></td>
                        <td><%= tag_item.name %></td>
                        <td>
                          <%= image_tag default_avatar_tag(tag_item), class: "avatar-tag-item"  %>
                        </td>
                        <td><%= tag_item.created_at.strftime("%d/%m/%Y - %H:%M") %></td>
                        <td>
                          <%= link_to admins_tag_path(tag_item) do %>
                            <i class="fas fa-exclamation-circle text-primary"></i>
                          <% end %>
                        </td>
                        <td>
                          <%= link_to edit_admins_tag_path(tag_item), data: {turbolinks: false} do %>
                            <i class="far fa-edit text-warning"></i>
                          <% end %>    
                        </td>
                        <td><i class="fas fa-trash text-danger"></i></td>
                      </tr>
                    <% end %>
                  </tbody>
                </table>
            </div>
        </div>
    </div>
</div>