<div class="border-bottom py-2 px-0 row">
  <div class="py-2 col-lg-10 col-sm-8">
    <div class="text-left">
      <i class="fas fa-tags tag-color"></i>
      <% post.tags.each do |tag| %>
        <span class="badge badge-light text-muted">
          <%= link_to tag.name, tag_path(tag), class: 'text-dark text-decoration-none font-size-08em' %>
        </span>
      <% end%>
    </div>

    <div class="articles">
      <%= link_to post.title, post_path(post), class: "font-weight-bolder font-size-12em text-dark" %>
      <div class="row infomation-articles font-size-08em">
        <div class="col-6 text-left pr-0">
          <span class="text-muted">Lượt xem:
            <%= post.view_count.to_i %>
            <span></div>
            <div class="col-6 text-right">
              <span class="text-muted"><%= time_ago_in_words(post.created_at) %>
                ago.</span>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-2 col-sm-4 border-left align-items-center d-none d-sm-flex">
        <%= link_to fa_icon("fab fa-readme", "View"), post_path(post.id), class: "btn btn-outline-primary btn-sm btn-block my-auto w-100 #{ action_edit_post_user }" %>
        <%= link_to fa_icon("fas fa-edit", "Edit"), edit_post_path(post.id), class: "btn btn-outline-warning btn-sm btn-block my-auto w-100 #{ action_show_post_user }" %>
      </div>
      <div class="container px-0 d-sm-none">
        <%= link_to fa_icon("fab fa-readme", "View"), post_path(post), class: "btn btn-outline-primary btn-sm btn-block #{ action_edit_post_user }" %>
        <%= link_to fa_icon("fas fa-edit", "Edit"), edit_post_path(post), class: "btn btn-outline-warning btn-sm btn-block #{ action_show_post_user }" %>
      </div>
    </div>
