<div class="info-auther position-sticky top-3 w-120 rounded bg-dark-4 d-none d-md-block mt-3">
  <div class="info-auther-header w-100 bg-image-kim rounded-top"></div>
  <div class="info-auther-title w-100 row">
    <div class="info-auther-avatar col-md-4">
      <%= image_tag default_avatar_user(@user), class: 'mr-auto rounded-circle avatar-user ml-3' %>
    </div>
    <div class="col-md-8 mt-4"><%= link_to @post.user.full_name, user_path(@post.user), class: "text-muted-light font-weight-bold text-decoration-none" %></div>
  </div>
  <% if @user.description? %>
  <div class="w-100 h-auto mh-2">
    <div class="w-90 mx-auto text-muted-light text-center">
      <%= simple_format(@user.description) %>
    </div>
  </div>
  <% end %>
  <div class="w-100 h-auto mh-2">
    <div class="w-90 mx-auto">
      <%= render "users/shared/follow_button" %>
    </div>
  </div>
  <div class="w-100 my-3 h-auto text-muted-light">
    <% if @user.address? %>
      <div class="w-90 mx-auto mb-1">
        <span class="text-muted-light font-weight-bold font-size-08em clearfix">location</span>
        <span class="pl-2 f-10 font-italic"><%= @user.address %></span>
      </div>
    <% end %>
    <% if @user.email_public? %>
      <div class="w-90 mx-auto mb-1">
        <span class="text-muted-light font-weight-bold font-size-08em clearfix">Email</span>
        <span class="pl-2 f-10 font-italic"><%= link_to @user.email, @user.send_gmail, :target => "_blank", :class => 'text-muted-light text-decoration-none' %></span>
      </div>
    <% end %>
    <% if @user.url_link? %>
      <div class="w-90 mx-auto mb-1">
        <span class="text-muted-light font-weight-bold font-size-08em clearfix">Website</span>
        <span class="pl-2 f-10 font-italic"><%= link_to @user.link_url, @user.link_url ,:target => "_blank", :class => 'text-muted-light' %></span>
      </div>
    <% end %>
    <div class="w-90 mx-auto pb-3">
      <span class="text-muted-light font-weight-bold font-size-08em clearfix">Date</span>
      <span class="pl-2 f-10 font-italic"><%= my_date(@user.created_at) %></span>
    </div>
  </div>
</div>
