<% provide(:title, "Login")%>
<div class="container-fuild h-screen font-type bg-image mt--3">
    <div class="w-25 m-auto pt-5">
      <h3 class="w-100 text-muted-light text-center mb-3">
          <%= link_to root_path, class: "navbar-brand text-muted-light" do %>
          <i class="fas fa-home"></i>
          <% end %>Login to PK's World
      </h3>
      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <div class="form-group mt-5">
          <%= render 'layouts/messages' %>
        </div>
        <div class="form-group mt-5 d-flex border-bottom">
          <i class="fas fa-user-alt mt-2 text-white"></i>
          <%= f.text_field :login, class: 'input-form-opacity placeholder-color-white', placeholder: 'Email or Username' %>
        </div>
        <div class="form-group mt-5 d-flex border-bottom">
          <i class="fas fa-key text-light mt-2"></i>
            <%= f.password_field :password, class: 'input-form-opacity placeholder-color-white', placeholder: 'Password' %>
        </div>
        <div class="layout_guide mt-4 text-white">
          If you do not have a PK's World account, <%= link_to  "sign up", signup_path %> in 30 seconds.
        </div>
        <div class="form-group">
            <%= f.submit "Log in to PK's World", class:"btn bg-instagram-story w-100 mt-5 text-white font-weight-bold border-0" %>
        </div>
        <div class="form-group text-center mt-5">
            <%= link_to  "Forgot Password?", new_user_password_path, class: 'text-muted-light' %>
        </div>
      <% end %>
    </div>
</div>

