<div class="container-build p-2 bg-dark-6 rounded">
    <div class="container p-1 main-container text-muted-light d-flex ml-auto mr-auto">
        <%= render 'users/shared/left_settings' %>
        <div class="main-profile p-3 flex-grow-1 bg-dark-4 rounded mt-3">
            <%= form_for current_user do |f|  %>
                <div class="form-group font-weight-bold text-center">
                    <label for="img-input"><%= image_tag  default_avatar_user(current_user), class: "rounded-circle settings-avatar cursor", id: "img-preview" %></label><br>
                    <%= f.file_field :avatar, id: "img-input", accept: ".jpg, .jpeg, .png", class: 'd-none' %>
                </div>
                <div class="settings-title-section d-flex justify-content-center align-items-center flex-wrap">
                    <a class="settings-username text-white" href="<%= user_path(current_user) %>"><h2><%= current_user.full_name %></h2></a>
                </div>
                <div class="form-group font-weight-bold">
                <label for="">Name</label>
                    <div class="d-flex">
                    <%= f.text_field :first_name, class: 'form-control mr-1', placeholder: "First Name",
                    pattern: regex_name_validate, title: "Name should only contain letters. e.g. John" %>
                    <%= f.text_field :last_name, class: 'form-control mr-1', placeholder: "Last Name",
                    pattern: regex_name_validate, title: "Name should only contain letters. e.g. Wick" %>
                    </div>
                </div>
                <div class="form-group ">
                    <h6 class='font-weight-bold'>Public Email</h6>
                    <div>
                        <%= f.check_box :email_public %>
                        <span>Open your Email to public.</span>
                    </div>
                    <p class="text-muted-light f-10">Your mail address (<%= current_user.email %>) becomes public.<a href="#" class="text-muted-light"> Change email address</a> </p>
                <div class="form-group ">
                <label for="gender" class='font-weight-bold'>Gender</label><br>
                <% User.genders.keys.each do |gender| %>
                <%= f.radio_button :gender, gender %>
                <%= f.label gender.to_sym %>
                <% end %>
                </div>
                <div class="form-group ">
                <label for="birthday" class='font-weight-bold'>Birthday</label><br>
                <%= f.text_field :birthday, data: { behavior: "flatpickr" }, placeholder: ' Your birthday' %>
                <div class="form-group">
                    <label for="address" class='font-weight-bold'>Address</label><br>
                    <%= f.text_field :address, class: 'form-control', placeholder: ' Your address' %>
                </div>
                <div class="form-group">
                    <label for="description" class='font-weight-bold'>Description</label><br>
                    <%= f.text_area :description, class: 'form-control', cols: '20', rows: '4', placeholder: ' Write a few things about yourself' %>
                    <span class="text-muted-light f-10">Less than 200 characters</span>
                </div>
                <div class="form-group">
                    <label for="facebook_link" class='font-weight-bold'>Facebook ID</label><br>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="facebook-url">https://facebook.com/</span>
                        </div>
                        <%= f.text_field :facebook_link, class: 'form-control', id: "facebook-url"%>
                    </div>
                </div>
                <div class="form-group">
                    <label for="github-url" class='font-weight-bold'>Github ID</label>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="github-url">https://github.com/</span>
                        </div>
                        <%= f.text_field :github_link, class: 'form-control', id: "github-url"%>
                    </div>
                </div>
                <div class="form-group">
                <label for="linkedln-url" class='font-weight-bold'>LinkedIn ID</label>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="linkedln-url">https://www.linkedin.com/in/</span>
                        </div>
                        <%= f.text_field :linkedln_link, class: 'form-control', id: "linkedln-url"%>
                    </div>
                </div>
                <div class="form-group">
                    <%= f.submit "Update user", class: "btn btn-primary" %>
                </div>
            <% end %>
        </div>
    </div>
</div>
