<div class="header-page-index text-center text-light">
  <div class="container p-sm-auto p-0 menu-index-user" id="menu-responsive">
    <nav class="navbar navbar-expand">
      <%= link_to "Hituno", root_path, class: "navbar-brand text-white" %>
      <div class="collapse navbar-collapse">
        <ul class="navbar-nav">
          <li class="nav-item dropdown mt-2 mr-1">
            <a class="far fa-caret-square-down text-white font-size-15em" data-toggle="dropdown" href="#" role="button"></a>
            <div class="dropdown-menu dropdown-menu-left">
              <%= link_to fa_icon("fa fa-fw fa-check","Hituno"),"#", class: "dropdown-item"%>
                <div class="dropdown-divider"></div>
                <div class="nologin text-muted font-weight-bold font-size-07em mt-2 ml-4">You are not logged in to any team</div>
              <%= link_to fa_icon("fas fa-fw fa-sign-out-alt","Log in to Hiruno Team..."), "#", class: "dropdown-item"%>
            </div>
          </li>

          <li class="nav-item dropdown community-toggle community-link  d-none d-md-block">
            <a class="nav-link dropdown-toggle text-white " href="#" id="navbarDropdownMenuLink" data-toggle="dropdown">Community</a>
            <div class="dropdown-menu text-left" aria-labelledby="navbarDropdownMenuLink">
              <%= link_to fa_icon("fa fa-fw fa-users","List of all Users"), "#", class: "dropdown-item"%>
              <%= link_to fa_icon("fas fa-fw fa-mobile-alt","List of all organizatioins"),"#", class: "dropdown-item"%>
              <%= link_to fa_icon("fa fa-fw fa-calendar","Advent Calendar"), "#", class: "dropdown-item"%>
                <div class="dropdown-divider"></div>
              <%= link_to fa_icon("fa fa-fw fa-search","Hituno Jobs"), "#", class: "dropdown-item"%>
              <%= link_to fa_icon("fa fa-fw fa-comments","HitunoDon"), "#", class: "dropdown-item"%>
              <%= link_to fa_icon("far fa-fw fa-newspaper","Hiruno Zine"), "#", class: "dropdown-item"%>
                <div class="dropdown-divider"></div>
              <%= link_to fa_icon("fa fa-fw fa-book","Community Guideline"),"#", class: "dropdown-item"%>
              <%= link_to fa_icon("fa fa-fw fa-book","How to write good articles"), "#", class: "dropdown-item"%>
            </div>
          </li>

          <li class="nav-item btn_search_laptop d-sm-block ml-sm-3 d-none">
            <form class="form-inline form-control ">
              <i class="fa fa-search text-muted mr-1" aria-hidden="true"></i>
              <input class="mr-sm-2 border-0" type="search" placeholder="Search" aria-label="Search">
            </form>
          </li>

          <li class="nav-item btn_search_android d-sm-none d-block mt-2 mx-2">
            <a class="fas fa-search text-white" data-toggle="dropdown" href="#" role="button"></a>
            <div class="dropdown-menu w-100">
              <form class="form-inline">
                <input class="form-control border-0" type="search" placeholder="Search" aria-label="Search">
              </form>
            </div>
          </li>
        </ul>

        <ul class="navbar-nav ml-auto nav-flex-icons align-self-center">
          <% if user_signed_in? %>
            <li class="nav-item">
              <%= link_to fa_icon("far fa-edit","Post"), "#", class: "btn btn-outline-light px-3 d-none d-md-block"%>
            </li>
            <li class="nav-item px-2">
              <div class="btn btn-squared-default btn-light">0</div>
            </li>
            <li class="nav-item dropdown">
              <a class="dropdown-toggle" id="dropdown_header" data-toggle="dropdown">
                <%= avatar_for(current_user,'rounded img-24em') %>
              </a>
              <div class="dropdown-menu dropdown-menu-right dropdown-info w-90" aria-labelledby="dropdown_header">
                <%= link_to "Profile", user_path(current_user), class: "dropdown-item py-2" %>
                  <div class="dropdown-divider"></div>
                <%= link_to "Drafts", "#", class: "dropdown-item py-2" %>
                <%= link_to "Secret Articles", "#", class: "dropdown-item py-2" %>
                  <div class="dropdown-divider"></div>
                <%= link_to "Edit Requests", "#", class: "dropdown-item py-2" %>
                  <div class="dropdown-divider"></div>
                <%= link_to "Setting", "#", class: "dropdown-item py-2" %>
                <%= link_to "Help", "#", class: "dropdown-item py-2" %>
                  <div class="dropdown-divider"></div>
                <%= link_to "Logout", destroy_user_session_path, method: :delete, class: "dropdown-item py-2" %>
              </div>
            </li>
          <% else %>
            <li class="nav-item">
              <%= link_to "SignUp", signup_path, class: "btn btn-outline-light btn-sm px-3" %>
            </li>
            <li class="nav-item">
              <%= link_to "Login", login_path, class: "btn text-white btn-sm px-3" %>
            </li>
          <% end %>
        </ul>
      </div>
    </nav>
  </div>
</div>
