
<div class="bg-dark-4 rounded pt-3 px-3 d-none d-lg-block infomation text-light">
  <div class="row">
    <div class="col-3 ">
      <%= image_tag default_avatar_user(current_user), class: 'rounded-circle mx-1 img-375em' %>
    </div>
    <div class="col-9">
      <div class="font-weight-bold font-size-12em">
        <%= current_user.full_name %>
      </div>
      <div class="font-size-08em">
        <%= link_to "@#{current_user.name}", user_path(current_user), class: "text-muted-light text-decoration-none" %>
      </div>
    </div>
  </div>
  <div class="row pt-3 text-muted-light">
    <div class="col-4 text-center py-2 parameter">
      <div class="font-size-13em clearfix"><%= current_user.post_size_public %></div>
      <span class="font-size-08em ">Posts</span>
    </div>
    <div class="col-4 py-2 parameter">
      <div class="font-size-13em clearfix"><%= current_user.user_followings.count%></div>
      <span class="font-size-08em">Followings</span>
    </div>
    <div class="col-4 text-center py-2 parameter">
      <div class="font-size-13em clearfix"><%= current_user.user_followers.size %></div>
      <span class="font-size-08em ">Followers</span>
    </div>
  </div>
</div>
