
<div class="bg-dark-4 rounded mt-4 pt-3 px-3 d-none d-lg-block infomation text-light">
  <div class="row">
    <div class="col-3 ">
      <%= link_to user_path(current_user) do %>
        <%= image_tag default_avatar_user(current_user), class: 'rounded-circle mx-1 img-375em' %>
      <% end %>
    </div>
    <div class="col-9">
      <div class="font-weight-bold font-size-12em">
        <%= link_to user_path(current_user), class: 'text-muted-light text-decoration-none' do %>
          <%= current_user.full_name %>
        <%end%>
      </div>
      <div class="font-size-08em text-muted-light">
        <%= "@#{current_user.name}"%>
      </div>
    </div>
  </div>
  <div class="row pt-3 text-muted-light">
    <div class="col-4 text-center py-2 parameter">
      <div class="font-size-13em clearfix"><%= current_user.post_size_public %></div>
      <span class="font-size-08em ">Posts</span>
    </div>
    <div class="col-4 py-2 parameter">
      <div class="font-size-13em clearfix"><%= current_user.user_followings.count%></div>
      <span class="font-size-08em">Followings</span>
    </div>
    <div class="col-4 text-center py-2 parameter">
      <div class="font-size-13em clearfix"><%= current_user.user_followers.size %></div>
      <span class="font-size-08em ">Followers</span>
    </div>
  </div>
</div>
