<div class="col-sm-3">
  <div class="news">

    <span>
      <i class="fa fa-bullhorn icon"></i>
      <span>Qiitaの「いいね」が「LGTM」に変わります</span>
    </span>
    <br/>
    <span>2020/03/12にリリースした、QiitaのLGTM機能について、その背景と目的を説明します。</span>
    <br/>
    <a href="#" class="icon href">
      <i class="fa fa-fw fa-arrow-circle-right"></i>View detail</a>
  </div>

  <br>
  <div class="row dedication">
    <ul class="nav nav-tabs ranking">
      <li class="nav-item">
        <a class="nav-link disabled title" href="#">
          <h6>Users Ranking</h6>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link test" href="#">Weekly</a>
      </li>
      <li class="nav-item">
        <a class="nav-link test" href="#">Monthly</a>
      </li>
      <li class="nav-item">
        <a class="nav-link test" href="#">All</a>
      </li>
    </ul>
    <div class="list-ranking">

      <div class="row member">
        <div class="col-sm-1">
          <i class="fa fa-trophy gold" aria-hidden="true"></i>
        </div>
        <div class="col-sm-2">
          <%= image_tag("1.jpeg") %>
        </div>
        <div class="col-sm-6">
          <span>Name</span>
        </div>
        <div class="col-sm-2">
          <span>11421</span><br>Point
        </div>
      </div>

      <div class="row member">
        <div class="col-sm-1">
          <i class="fa fa-trophy silver" aria-hidden="true"></i>
        </div>
        <div class="col-sm-2">
          <%= image_tag("1.jpeg") %>
        </div>
        <div class="col-sm-6">
          <span>Name</span>
        </div>
        <div class="col-sm-2">
          <span>11421</span><br>Point
        </div>
      </div>

      <div class="row member">
        <div class="col-sm-1">
          <i class="fa fa-trophy bronze" aria-hidden="true"></i>
        </div>
        <div class="col-sm-2">
          <%= image_tag("1.jpeg") %>
        </div>
        <div class="col-sm-6">
          <span>Name</span>
        </div>
        <div class="col-sm-2">
          <span>11421</span><br>Point
        </div>
      </div>

      <div class="row member">
        <div class="col-sm-1">
          <span class="another">4</span>
        </div>
        <div class="col-sm-2">
          <%= image_tag("1.jpeg") %>
        </div>
        <div class="col-sm-6">
          <span>Name</span>
        </div>
        <div class="col-sm-2">
          <span>11421</span><br>Point
        </div>
      </div>

      <div class="row member">
        <div class="col-sm-1">
          <span class="another">5</span>
        </div>
        <div class="col-sm-2">
          <%= image_tag("1.jpeg") %>
        </div>
        <div class="col-sm-6">
          <span>Name</span>
        </div>
        <div class="col-sm-2">
          <span>11421</span><br>Point
        </div>
      </div>

      <div class="row member">
        <div class="col-sm-1">
          <span class="another">6</span>
        </div>
        <div class="col-sm-2">
          <%= image_tag("1.jpeg") %>
        </div>
        <div class="col-sm-6">
          <span>Name</span>
        </div>
        <div class="col-sm-2">
          <span>11421</span><br>Point
        </div>
      </div>

      <div class="row member">
        <div class="col-sm-1">
          <span class="another">7</span>
        </div>
        <div class="col-sm-2">
          <%= image_tag("1.jpeg") %>
        </div>
        <div class="col-sm-6">
          <span>Name</span>
        </div>
        <div class="col-sm-2">
          <span>11421</span><br>Point
        </div>
      </div>

      <div class="row member">
        <div class="col-sm-1">
          <span class="another">8</span>
        </div>
        <div class="col-sm-2">
          <%= image_tag("1.jpeg") %>
        </div>
        <div class="col-sm-6">
          <span>Name</span>
        </div>
        <div class="col-sm-2">
          <span>11421</span><br>Point
        </div>
      </div>

      <div class="row member">
        <div class="col-sm-1">
          <span class="another">9</span>
        </div>
        <div class="col-sm-2">
          <%= image_tag("1.jpeg") %>
        </div>
        <div class="col-sm-6">
          <span>Name</span>
        </div>
        <div class="col-sm-2">
          <span>11421</span><br>Point
        </div>
      </div>

      <div class="row member">
        <div class="col-sm-1">
          <span class="another">10</span>
        </div>
        <div class="col-sm-2">
          <%= image_tag("1.jpeg") %>
        </div>
        <div class="col-sm-6">
          <span>Name</span>
        </div>
        <div class="col-sm-2">
          <span>11421</span><br>Point
        </div>
      </div>
    </div>
  </div>
</div>
