<div class="menuright-setting">
  <%= render 'home/infomation' if user_signed_in? %>
  <br>
  <%= render "home/news" %>
  <br>
  <%= render "home/ranking/userranking" %>
  <br>
  <%= render "home/ranking/tagranking" %>
  <br>
  <%= render "home/ranking/organizations_ranking" %>
</div>
