<div class="menuright-setting">
  <%= render 'home/infomation' if user_signed_in? %>
  <br>
  <%= render "home/news" %>
  <br>
  <%= render "home/ranking/user_ranking" unless @users_trend.blank? %>
  <br>
  <%= render "home/ranking/tag_ranking" unless @tags_trend.blank? %>
  <br>
  <%= render "home/ranking/organizations_ranking" unless @tags_trend.blank? %>
</div>
