<div class="row dedication bg-white text-black-50">
  <ul class="nav nav-tabs ranking">

    <li class="nav-item">
      <a class="nav-link disabled unit title-ranking text-dark font-weight-bold" href="#">Tag ranking</a>
    </li>
    <li class="nav-item">
      <a class="nav-link unit active text-right text-dark font-weight-bold" href="#">Weekly</a>
    </li>
    <li class="nav-item">
      <a class="nav-link unit active text-right text-dark font-weight-bold" href="#">Monthly</a>
    </li>
    <li class="nav-item">
      <a class="nav-link unit text-right text-muted" href="#">All</a>
    </li>

   </ul>

  <div class="list-ranking">
    <div class="container-fluid">

      <div class="row member text-body">
        <div class="col-sm-2 col-2 user-ranks">
          <i class="fa fa-trophy gold" aria-hidden="true"></i>
        </div>
        <div class="col-sm-2 col-1 user-ranks">
          <%= image_tag("https://i.imgur.com/5w9l0bV.jpg") %>
        </div>
        <div class="col-sm-5 col-5 name-list-ranking">
          <span>無職 やめ太郎（本名）</span>
        </div>
        <div class="col-sm-3 col-3">
          <span class="point-ranking font-weight-bold">178</span><br><span class="point-post text-muted"><p>Points</span>
        </div>
      </div>

      <div class="row member text-body">
        <div class="col-sm-2 col-2 user-ranks">
          <i class="fa fa-trophy silver" aria-hidden="true"></i>
        </div>
        <div class="col-sm-2 col-1 user-ranks">
          <%= image_tag("https://i.imgur.com/5w9l0bV.jpg") %>
        </div>
        <div class="col-sm-5 col-5 name-list-ranking">
          <span>無職 やめ太郎（本名）</span>
        </div>
        <div class="col-sm-3 col-3">
          <span class="point-ranking font-weight-bold">178</span><br><span class="point-post text-muted"><p>Points</span>
        </div>
      </div>

      <div class="row member text-body">
        <div class="col-sm-2 col-2 user-ranks">
          <i class="fa fa-trophy bronze" aria-hidden="true"></i>
        </div>
        <div class="col-sm-2 col-1 user-ranks">
          <%= image_tag("https://i.imgur.com/5w9l0bV.jpg") %>
        </div>
        <div class="col-sm-5 col-5 name-list-ranking">
          <span>無職 やめ太郎（本名）</span>
        </div>
        <div class="col-sm-3 col-3">
          <span class="point-ranking font-weight-bold">178</span><br><span class="point-post text-muted"><p>Points</span>
        </div>
      </div>

      <div class="row member text-body">
        <div class="col-sm-2 col-2 user-ranks">
          <span class="another">4</span>
        </div>
        <div class="col-sm-2 col-1 user-ranks">
          <%= image_tag("https://i.imgur.com/5w9l0bV.jpg") %>
        </div>
        <div class="col-sm-5 col-5 name-list-ranking">
          <span>suin@TypeScriptが好き</span>
        </div>
        <div class="col-sm-3 col-3">
          <span class="point-ranking font-weight-bold">145</span><br><span class="point-post text-muted"><p>Points</span>
        </div>
      </div>
      <div class="row member text-body">
        <div class="col-sm-2 col-2 user-ranks">
          <span class="another">5</span>
        </div>
        <div class="col-sm-2 col-1 user-ranks">
          <%= image_tag("https://i.imgur.com/5w9l0bV.jpg") %>
        </div>
        <div class="col-sm-5 col-5 name-list-ranking">
          <span>suin@TypeScriptが好き</span>
        </div>
        <div class="col-sm-3 col-3">
          <span class="point-ranking font-weight-bold">145</span><br><span class="point-post text-muted"><p>Points</span>
        </div>
      </div>
      <div class="row member text-body">
        <div class="col-sm-2 col-2 user-ranks">
          <span class="another">6</span>
        </div>
        <div class="col-sm-2 col-1 user-ranks">
          <%= image_tag("https://i.imgur.com/5w9l0bV.jpg") %>
        </div>
        <div class="col-sm-5 col-5 name-list-ranking">
          <span>suin@TypeScriptが好き</span>
        </div>
        <div class="col-sm-3 col-3">
          <span class="point-ranking font-weight-bold">145</span><br><span class="point-post text-muted"><p>Points</span>
        </div>
      </div>
      <div class="row member text-body">
        <div class="col-sm-2 col-2 user-ranks">
          <span class="another">7</span>
        </div>
        <div class="col-sm-2 col-1 user-ranks">
          <%= image_tag("https://i.imgur.com/5w9l0bV.jpg") %>
        </div>
        <div class="col-sm-5 col-5 name-list-ranking">
          <span>suin@TypeScriptが好き</span>
        </div>
        <div class="col-sm-3 col-3">
          <span class="point-ranking font-weight-bold">145</span><br><span class="point-post text-muted"><p>Points</span>
        </div>
      </div>
      <div class="row member text-body">
        <div class="col-sm-2 col-2 user-ranks">
          <span class="another">8</span>
        </div>
        <div class="col-sm-2 col-1 user-ranks">
          <%= image_tag("https://i.imgur.com/5w9l0bV.jpg") %>
        </div>
        <div class="col-sm-5 col-5 name-list-ranking">
          <span>suin@TypeScriptが好き</span>
        </div>
        <div class="col-sm-3 col-3">
          <span class="point-ranking font-weight-bold">145</span><br><span class="point-post text-muted"><p>Points</span>
        </div>
      </div>
      <div class="row member text-body">
        <div class="col-sm-2 col-2 user-ranks">
          <span class="another">9</span>
        </div>
        <div class="col-sm-2 col-1 user-ranks">
          <%= image_tag("https://i.imgur.com/5w9l0bV.jpg") %>
        </div>
        <div class="col-sm-5 col-5 name-list-ranking">
          <span>suin@TypeScriptが好き</span>
        </div>
        <div class="col-sm-3 col-3">
          <span class="point-ranking font-weight-bold">145</span><br><span class="point-post text-muted"><p>Points</span>
        </div>
      </div>

      <div class="row member text-body">
        <div class="col-sm-2 col-2 user-ranks">
          <span class="another">10</span>
        </div>
        <div class="col-sm-2 col-1 user-ranks">
          <%= image_tag("https://i.imgur.com/5w9l0bV.jpg") %>
        </div>
        <div class="col-sm-5 col-5 name-list-ranking">
          <span>suin@TypeScriptが好き</span>
        </div>
        <div class="col-sm-3 col-3">
          <span class="point-ranking font-weight-bold">145</span><br><span class="point-post text-muted"><p>Points</span>
        </div>
      </div>


    </div>
  </div>
</div>
