<div class="row dedication">
  <ul class="nav nav-tabs ranking">

    <li class="nav-item">
      <a class="nav-link disabled unit title-ranking" href="#">Users Ranking</a>
    </li>

    <li class="nav-item">
      <a class="nav-link unit active time-ranking text-dark font-weight-bold" href="#">Weekly</a>
    </li>
    <li class="nav-item">
      <a class="nav-link unit time-ranking text-muted" href="#">Monthly</a>
    </li>
    <li class="nav-item">
      <a class="nav-link unit time-ranking text-muted" href="#">All</a>
    </li>

  </ul>

  <div class="list-ranking">
    <div class="container-fluid">

      <div class="row member">
        <div class="col-sm-2">
          <i class="fa fa-trophy gold" aria-hidden="true"></i>
        </div>
        <div class="col-sm-2">
          <%= image_tag("1.jpeg") %>
        </div>
        <div class="col-sm-5">
          <span>@ucan-lab</span>
        </div>
        <div class="col-sm-3">
          <span class="point-ranking">1743</span><br>
          <span class="point-post">Posts</span>
        </div>
      </div>

      <div class="row member">
        <div class="col-sm-2">
          <i class="fa fa-trophy silver" aria-hidden="true"></i>
        </div>
        <div class="col-sm-2">
          <%= image_tag("1.jpeg") %>
        </div>
        <div class="col-sm-5">
          <span>無職 やめ太郎（本名）</span>
        </div>
        <div class="col-sm-3">
          <span class="point-ranking">1325</span><br>
          <span class="point-post">Posts</span>
          </div>
      </div>

      <div class="row member">
        <div class="col-sm-2">
          <i class="fa fa-trophy bronze" aria-hidden="true"></i>
        </div>
        <div class="col-sm-2">
          <%= image_tag("1.jpeg") %>
        </div>
        <div class="col-sm-5">
          <span>professor ok</span>
        </div>
        <div class="col-sm-3">
          <span class="point-ranking">721</span><br>
          <span class="point-post">Posts</span>
        </div>
      </div>

      <div class="row member">
        <div class="col-sm-2">
          <span class="another">4</span>
        </div>
        <div class="col-sm-2">
          <%= image_tag("1.jpeg") %>
        </div>
        <div class="col-sm-5">
          <span>おりばー
          </span>
        </div>
        <div class="col-sm-3">
          <span class="point-ranking">533</span><br>
          <span class="point-post">Posts</span>
        </div>
      </div>

      <div class="row member">
        <div class="col-sm-2">
          <span class="another">5</span>
        </div>
        <div class="col-sm-2">
          <%= image_tag("1.jpeg") %>
        </div>
        <div class="col-sm-5">
          <span>@kozzzz</span>
        </div>
        <div class="col-sm-3">
          <span class="point-ranking">495</span><br>
          <span class="point-post">Posts</span>
        </div>
      </div>

      <div class="row member">
        <div class="col-sm-2">
          <span class="another">6</span>
        </div>
        <div class="col-sm-2">
          <%= image_tag("1.jpeg") %>
        </div>
        <div class="col-sm-5">
          <span>ミノ駆動</span>
        </div>
        <div class="col-sm-3">
          <span class="point-ranking">370</span><br>
          <span class="point-post">Posts</span>
        </div>
      </div>

      <div class="row member">
        <div class="col-sm-2">
          <span class="another">7</span>
        </div>
        <div class="col-sm-2">
          <%= image_tag("1.jpeg") %>
        </div>
        <div class="col-sm-5">
          <span>けんちょん (Otsuki)</span>
        </div>
        <div class="col-sm-3">
          <span class="point-ranking">350</span><br>
          <span class="point-post">Posts</span>
        </div>
      </div>

      <div class="row member">
        <div class="col-sm-2">
          <span class="another">8</span>
        </div>
        <div class="col-sm-2">
          <%= image_tag("1.jpeg") %>
        </div>
        <div class="col-sm-5">
          <span>モグ</span>
        </div>
        <div class="col-sm-3">
          <span class="point-ranking">348</span><br>
          <span class="point-post">Posts</span>
        </div>
      </div>

      <div class="row member">
        <div class="col-sm-2">
          <span class="another">9</span>
        </div>
        <div class="col-sm-2">
          <%= image_tag("1.jpeg") %>
        </div>
        <div class="col-sm-5">
          <span>suin@TypeScriptが好き</span>
        </div>
        <div class="col-sm-3">
          <span class="point-ranking">334</span><br>
          <span class="point-post">Posts</span>
        </div>
      </div>

      <div class="row member">
        <div class="col-sm-2">
          <span class="another">10</span>
        </div>
        <div class="col-sm-2">
          <%= image_tag("1.jpeg") %>
        </div>
        <div class="col-sm-5">
          <span>石川 陽一</span>
        </div>
        <div class="col-sm-3">
          <span class="point-ranking">282</span><br>
          <span class="point-post">Posts</span>
        </div>
      </div>
    </div>
  </div>
</div>
