<%= render "home/navbar" %>
<%= render "home/banner" %>

<div class="Phanthan">
  <div class="container">
    <div class="row">

      <div class="col-sm-2"></div>
      <!-- Left -->
      <div class="col-sm-7">
        <div class="Check">
          <div class="tieuDe">
            <i class="far fa-chart-bar" aria-hidden="true"></i>
            <span>Trends</span>
            <span class="tr-ItemList_subLabel">Remarkable items.Refleshed at every 5 a.m.and 5 p.m.</span>
          </div>
          <ul class="nav nav-tabs">
            <li class="nav-item">
              <a class="nav-link" href="#">Daily</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Weekly</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Monthly</a>
            </li>
          </ul>

          <div class="topic">
            <% for i in 0..10 %>
              <%= render "home/topic" %>
            <% end %>
          </div>
        </div>
      </div>

      <div class="col-sm-3">
        <div class="row News">
          <span>
            <i class="fa fa-bullhorn icon"></i>
            <span>Qiitaの「いいね」が「LGTM」に変わります</span>
          </span>
          <br/>
          <span>2020/03/12にリリースした、QiitaのLGTM機能について、その背景と目的を説明します。</span>
          <br/>
          <a href="#" class="icon href">
            <i class="fa fa-fw fa-arrow-circle-right"></i>View detail</a>
        </div>

        <br>
        <div class="row Conghien">
          <ul class="nav nav-tabs Ranking">
            <li class="nav-item">
              <a class="nav-link disabled title" href="#">
                <h6>Users Ranking</h6>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link test" href="#">Weekly</a>
            </li>
            <li class="nav-item">
              <a class="nav-link test" href="#">Monthly</a>
            </li>
            <li class="nav-item">
              <a class="nav-link test" href="#">All</a>
            </li>
          </ul>
          <div class="list-Ranking">

            <div class="row thanhvien">
              <div class="col-sm-1">
                <i class="fa fa-trophy vang" aria-hidden="true"></i>
              </div>
              <div class="col-sm-2">
                <%= image_tag("1.jpeg") %>
              </div>
              <div class="col-sm-6">
                <span>Name</span>
              </div>
              <div class="col-sm-2">
                <span>11421</span><br>Point
              </div>
            </div>

            <div class="row thanhvien">
              <div class="col-sm-1">
                <i class="fa fa-trophy bac" aria-hidden="true"></i>
              </div>
              <div class="col-sm-2">
                <%= image_tag("1.jpeg") %>
              </div>
              <div class="col-sm-6">
                <span>Name</span>
              </div>
              <div class="col-sm-2">
                <span>11421</span><br>Point
              </div>
            </div>

            <div class="row thanhvien">
              <div class="col-sm-1">
                <i class="fa fa-trophy dong" aria-hidden="true"></i>
              </div>
              <div class="col-sm-2">
                <%= image_tag("1.jpeg") %>
              </div>
              <div class="col-sm-6">
                <span>Name</span>
              </div>
              <div class="col-sm-2">
                <span>11421</span><br>Point
              </div>
            </div>

            <div class="row thanhvien">
              <div class="col-sm-1">
                <span class="another">4</span>
              </div>
              <div class="col-sm-2">
                <%= image_tag("1.jpeg") %>
              </div>
              <div class="col-sm-6">
                <span>Name</span>
              </div>
              <div class="col-sm-2">
                <span>11421</span><br>Point
              </div>
            </div>

            <div class="row thanhvien">
              <div class="col-sm-1">
                <span class="another">5</span>
              </div>
              <div class="col-sm-2">
                <%= image_tag("1.jpeg") %>
              </div>
              <div class="col-sm-6">
                <span>Name</span>
              </div>
              <div class="col-sm-2">
                <span>11421</span><br>Point
              </div>
            </div>

            <div class="row thanhvien">
              <div class="col-sm-1">
                <span class="another">6</span>
              </div>
              <div class="col-sm-2">
                <%= image_tag("1.jpeg") %>
              </div>
              <div class="col-sm-6">
                <span>Name</span>
              </div>
              <div class="col-sm-2">
                <span>11421</span><br>Point
              </div>
            </div>

            <div class="row thanhvien">
              <div class="col-sm-1">
                <span class="another">7</span>
              </div>
              <div class="col-sm-2">
                <%= image_tag("1.jpeg") %>
              </div>
              <div class="col-sm-6">
                <span>Name</span>
              </div>
              <div class="col-sm-2">
                <span>11421</span><br>Point
              </div>
            </div>

            <div class="row thanhvien">
              <div class="col-sm-1">
                <span class="another">8</span>
              </div>
              <div class="col-sm-2">
                <%= image_tag("1.jpeg") %>
              </div>
              <div class="col-sm-6">
                <span>Name</span>
              </div>
              <div class="col-sm-2">
                <span>11421</span><br>Point
              </div>
            </div>

            <div class="row thanhvien">
              <div class="col-sm-1">
                <span class="another">9</span>
              </div>
              <div class="col-sm-2">
                <%= image_tag("1.jpeg") %>
              </div>
              <div class="col-sm-6">
                <span>Name</span>
              </div>
              <div class="col-sm-2">
                <span>11421</span><br>Point
              </div>
            </div>

            <div class="row thanhvien">
              <div class="col-sm-1">
                <span class="another">10</span>
              </div>
              <div class="col-sm-2">
                <%= image_tag("1.jpeg") %>
              </div>
              <div class="col-sm-6">
                <span>Name</span>
              </div>
              <div class="col-sm-2">
                <span>11421</span><br>Point
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<%= render "home/footer" %>
