<%= render "home/header" %>
<%= render "home/banner" %>

<div class="body_blog">
  <div class="container">
    <div class="row">

      <div class="col-sm-2"></div>
      <!-- Left -->

      <%= render "home/blog" %>
      <%= render "home/menuright" %>

    </div>
  </div>
</div>
</div>
<%= render "home/footer" %>
