<%= login_banner %>
<%= render 'layouts/messages' %>

<div class="body_blog d-block bg-light pt-3">
  <div class="container">
    <div class="row">
      <div class="col-lg-2">
        <%= render "home/menuleft" %>
      </div>
      <div class="col-lg-7">
        <%= render "home/post_index/topic_monthly" %>
        <!-- Middle -->
      </div>
      <div class="col-lg-3">
        <%= render "home/menuright" %>
        <!-- menuright -->
      </div>
    </div>
  </div>
</div>
