<div id="content">
   <%= render "admins/header" %>
   <div class='container-fluid'>
      <div class='card shadow mb-4'>
         <div class="d-flex card-body">
            <div class="user-details w-25">
               <div class="text-center">
                  <h4>User Info</h4>
                  <hr>
                  <div class="upload-avatar">
                     <%= image_tag default_avatar_user(@user), class: 'rounded-circle mb-1 img-57em' %>
                  </div>
                  <div class="profile-name font-weight-bold my-2 font-size-15em">
                     <%= @user.full_name %>
                  </div>
                  <div>
                     <span class=<%= user_status @user %>> <%= @user.status %></span>
                  </div>
                  <div class="profile-id my-2 mx-0 font-size-10em">
                     <span class="text-muted">@<%= @user.name %></span>
                  </div>
                  <div class="profile-github text-dark">
                     <% if @user.github_link? %>
                        <span>
                           <i class="fab fa-github"></i>
                        </span>
                        <span><%= link_to @user.github_link, @user.link_github, :target => "_blank", :class => 'text-dark' %>
                        </span>
                     <% end %>
                  </div>
                  <div class="profile-facebook text-dark mt-1">
                     <% if @user.facebook_link? %>
                        <span>
                           <i class="fab fa-facebook-square"></i>
                        </span>
                        <span><%= link_to @user.facebook_link, @user.link_facebook, :target => "_blank", :class => 'text-dark' %>
                        </span>
                     <% end %>
                  </div>
                  <div class="profile-linkedin text-dark mt-1">
                     <% if @user.linkedln_link? %>
                        <span>
                           <i class="fab fa-linkedin"></i>
                        </span>
                        <span><%= link_to @user.linkedln_link, @user.link_linkedin, :target => "_blank", :class => 'text-dark' %>
                        </span>
                     <% end %>
                  </div>
               </div>
            </div>
            <div class="user-list-posts w-75">
               <div class="container">
                  <h4>List Posts</h4>
                  <hr>
                  <div class="table-responsive-xl">
                     <table class="table table-borderless" id="table-tag" width="100%" cellspacing="0">
                        <thead>
                           <tr>
                              <th>ID</th>
                              <th>Name</th>
                              <th>Status</th>
                           </tr>
                        </thead>
                        <tbody>
                           <% @posts.order(created_at: :desc).each do |post| %>
                           <tr>
                              <td><%= post.id %></td>
                              <td><%= link_to post.title, admins_post_path(post), class: 'text-dark text-decoration-none' %></td>
                              <td>
                                 <%= post.status  %>
                              </td>
                           </tr>
                           <% end %>
                        </tbody>
                     </table>
                  </div>
                  <%== render partial: 'users/shared/pagination', locals: {pagy: @pagy} %>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>