<div class="profile-user bg-white text-center p-3 mx-0 my-3">
  <div class="dropdown text-right">
    <button class="dropdown-toggle fa fa-ellipsis-h fa-lg" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      <span class="fa fa-ellipsis-h text-success"></span></button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
      <%= link_to 'LGTM article', '#', class: "dropdown-item" %>
      <%= link_to 'Followees', '#', class: "dropdown-item" %>
      <%= link_to 'Comment history', '#', class: "dropdown-item" %>
      <%= link_to 'Edit request history', '#', class: "dropdown-item" %>
    </div>
  </div>
  <div class="upload-avatar">
    <%= image_tag default_avatar_user(@user), class: 'rounded-circle mb-1 img-57em' %>
  </div>
  <div class="profile-name font-weight-bold my-2 font-size-20em">
    <%= @user.full_name %>
  </div>
  <div class="profile-id my-2 mx-0 font-size-08em">
    <span class="text-muted">@<%= @user.name %></span>
  </div>
  <div class="profile-github text-dark">
    <% if @user.github_link? %>
      <span>
        <i class="fab fa-github"></i>
      </span>
      <span><%= link_to @user.github_link, @user.link_github, :target => "_blank", :class => 'text-dark' %>
      </span>
    <% end %>
  </div>
  <div class="profile-social my-2 mx-0">
    <span class="icon-twitter font-size-13em mr-2">
      <%= link_to @user.link_linkedin, :target => "_blank", :class => 'text-primary text-decoration-none' do %>
      <i class="fab fa-linkedin"></i>
    <% end %>
  </span>
  <span class="icon-facebook">
    <%= link_to @user.link_facebook, :target => "_blank", :class => 'text-primary text-decoration-none' do %>
    <i class="fab fa-facebook-square font-size-13em"></i>
  <% end %>
</span>
</div>
<div class="profile-infomation text-center my-2 mx-0">
<%= simple_format(@user.description) %>
</div>
<div class="row">
<div class="col-4">
  <span class="point-ranking font-size-13em font-weight-bold"><%= @user.posts.size %></span><br>
  <span class="point-post font-size-08em text-muted">
    <p>Post</p>
  </span>
</div>
<div class="col-4">
  <span class="font-size-13em font-weight-bold">178</span><br>
  <span class="point-post font-size-08em text-muted">
    <p>Following</p>
  </span>
</div>
<div class="col-4">
  <span class="font-size-13em font-weight-bold px-0 py-3">178</span><br>
  <span class="point-post font-size-08em text-muted">
    <p>Follower</p>
  </span>
</div>
</div>

<div class="btn-follow">
<button type="button" class="btn btn-light btn-sm btn-block border font-weight-bold">
  <%= btn_edit %>
</button>
</div>

<div class="border-top text-left mt-3 py-2 font-size-09em">
  <% if @user.address? %>
  <div>
    <i class="fas fa-map-marker-alt mr-2"></i>
    <%= @user.address %>
  </div>
  <% end %>

  <% if @user.email_public %>
    <div>
      <i class="fa fa-envelope mr-1"></i>
      <%= link_to @user.email, @user.send_gmail, :target => "_blank", :class => 'text-dark' %>
    </div>
  <% end %>

  <% if @user.url_link? %>
    <div>
      <i class="fas fa-globe-asia mr-1"></i>
      <%= link_to @user.link_url, @user.link_url ,:target => "_blank", :class => 'text-dark' %>
    </div>
  <% end %>
  </div>

  <div class="profile-tag text-left border-top pt-3 pb-2 px-0">
    <i class="fas fa-tags greencolor"></i>
    <span class="font-weight-bold text-muted">Following tags</span>
    <div class="">
      <span>
        <%= link_to 'ECMAScript', '#', class: "badge badge-secondary" %>
      </span>
      <span>
        <%= link_to 'TypeScript', '#', class: "badge badge-secondary" %>
      </span>
      <span>
        <%= link_to 'Node.js', '#', class: "badge badge-secondary" %>
      </span>
      <span>
        <%= link_to 'JavaScript', '#', class: "badge badge-secondary" %>
      </span>
    </div>
  </div>
</div>
