<div class="profile-user bg-dark-4 text-center p-3 mx-0 my-3 rounded scroll-auto position-sticky top-3">
  <div class="upload-avatar">
    <%= image_tag default_avatar_user(@user), class: 'rounded-circle mb-1 img-size-75' %>
  </div>
  <div class="profile-name font-weight-bold my-2 font-size-20em text-muted-light">
    <%= @user.full_name %>
  </div>
  <div class="profile-id my-2 mx-0 font-size-08em">
    <span class="text-muted-light">@<%= @user.name %></span>
  </div>
  <div class="profile-github text-muted-light">
    <% if @user.github_link? %>
      <span>
        <i class="fab fa-github text-muted-light"></i>
      </span>
      <span><%= link_to @user.github_link, @user.link_github, :target => "_blank", :class => 'text-muted-light' %>
      </span>
    <% end %>
  </div>
  <div class="profile-social my-2 mx-0">
    <span class="icon-twitter mr-2">
      <%= link_to @user.link_linkedin, :target => "_blank", :class => 'text-muted-light text-decoration-none' do %>
      <i class="fab fa-linkedin font-size-13em"></i>
    <% end %>
  </span>
  <span class="icon-facebook">
    <%= link_to @user.link_facebook, :target => "_blank", :class => 'text-primary rounded-circle' do %>
      <i class="fab fa-facebook-square font-size-13em bg-white rounded border-0"></i>
    <% end %>
  </span>
</div>
<div class="profile-infomation text-center my-2 mx-0 text-muted-light">
<%= simple_format(@user.description) %>
</div>
<div class="row">
  <div class="col-4">
    <span class="point-ranking font-size-13em font-weight-bold text-muted-light"><%= @user == current_user ? @user.posts.size : @user.post_size_public %></span><br>
    <span class="point-post font-size-08em text-muted-light">
      <p>Post</p>
    </span>
  </div>
  <div class="col-4">
    <span class="font-size-13em font-weight-bold text-muted-light" id="following"><%= @user.user_followings.count %></span><br>
    <span class="point-post font-size-08em text-muted-light">
      <p>Following</p>
    </span>
  </div>
  <div class="col-4">
    <span class="font-size-13em font-weight-bold px-0 py-3 text-muted-light" id="followers"><%= @user.followers.count %></span><br>
    <span class="point-post font-size-08em text-muted-light">
      <p>Follower</p>
    </span>
  </div>
</div>
<%= render  "users/shared/follow_button" %>
<div class="border-top text-left mt-3 py-2 font-size-09em text-muted-light">
  <% if @user.address? %>
  <div>
    <i class="fas fa-map-marker-alt mr-2 text-muted-light"></i>
    <%= @user.address %>
  </div>
  <% end %>

  <% if @user.email_public %>
    <div>
      <i class="fa fa-envelope mr-1"></i>
      <%= link_to @user.email, @user.send_gmail, :target => "_blank", :class => 'text-muted-light' %>
    </div>
  <% end %>

  <% if @user.url_link? %>
    <div>
      <i class="fas fa-globe-asia mr-1"></i>
      <%= link_to @user.link_url, @user.link_url ,:target => "_blank", :class => 'text-muted-light' %>
    </div>
  <% end %>
  </div>

  <div class="profile-tag text-left border-top pt-3 pb-2 px-0">
    <i class="fas fa-tags greencolor text-muted-light"></i>
    <span class="font-weight-bold text-muted-light">Following tags</span>
    <div class="h-auto mh-6 mt-3">
      <% @user.tag_followings.each do |tag| %>
        <div class="bg-dark-6 tag-item-profile m-1 mw-3 float-left rounded">
          <%= link_to tag_path(tag), class: "text-muted-light text-decoration-none p-1" do %>
            #<%= tag.name %>
          <%end %>
        </div>
      <% end %>
    </div>
  </div>
</div>
