<div class="body_blog">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <div class="text-center bg-white py-3">
          <div>
            <%= image_tag 'https://bom.to/nmxdXh', size: "80" ,:class => "rounded mb-1" %>
          </div>
          <div class="font-weight-bold">
            <h5><%= "Github" %>
              <h5></div>
              <div class="row py-2">
                <div class="col-6 border-right">
                  <span class="font-weight-bold">42421</span><br>
                  <span class="text-muted">Post</span>
                </div>
                <div class="col-6">
                  <span class="font-weight-bold">42421</span><br>
                  <span class="text-muted">Followers</span>
                </div>
              </div>
              <div class="py-2 px-5">
                <button type="button" class="btn btn-outline-secondary btn-sm btn-block">Follow</button>
              </div>
            </div>
            <div class="d-lg-block d-md-none bg-white my-3">
              <%= render "home/tagranking" %>
            </div>
            <div class="d-lg-block d-md-none bg-white my-3">
              <%= render "home/tagranking" %>
            </div>
          </div>
          <div class="col-md-8">
            <div class="bg-white p-3">
              <div class="title-blog">
                <i class="far fa-chart-bar" aria-hidden="true"></i>
                <span>Trends</span>
                <span class="text-muted">Like ranking last week</span>
              </div>
              <div>
                <% for i in 0..4 %>
                <% end %>
              </div>
            </div>
            <div class="bg-white p-3 my-4">
              <div class="title-blog">
                <i class="fa fa-fw fa-list" aria-hidden="true"></i>
                <span>Newest posts</span>
              </div>
              <div>
                <% @post_tag.each do |post| %>
                  <%= render "tags/posttag", post: post %>
                <% end %>
                <%== render partial: 'users/shared/pagination', locals: { pagy: @pagy_tag } %>
              </div>
            </div>
            <div class="d-md-block d-lg-none bg-white py-2">
              <%= render "home/tagranking" %>
              <%= render "home/tagranking" %>
            </div>
          </div>
        </div>
      </div>
