<div class="body_blog bg-light">
  <div class="container py-3">
    <div class="row">
      <div class="col-md-4">
        <div class="text-center bg-white py-3">
          <%=image_tag(default_avatar_tag(@tag), class: 'rounded mb-1 img-50em')%>
          <div class="font-weight-bold">
            <h5><%= @tag.name %>
              <h5></div>
              <div class="row py-2">
                <div class="col-6 border-right">
                  <span class="font-weight-bold"><%= @post.status_public.size %></span><br>
                  <span class="text-muted">Post</span>
                </div>
                <div class="col-6">
                  <span class="font-weight-bold" id="follow-size-<%= @tag.id %>"> <%= @tag.tag_follower_size%></span><br>
                  <span class="text-muted"%> Followers </span>
                </div>
              </div>
              <div class="py-2 px-5">
                <% if current_user.present? %>
                <button
                  class='btn-follow btn btn-sm btn-block border font-weight-bold <%=check_follow_status_color(@tag)%>'
                  data-tag-id="<%= @tag.id %>">
                  <%= check_follow_status_text(@tag) %>
                </button>
                <% else %>
                <button type="button"
                  class="btn-follow btn btn-success btn-sm btn-block border font-weight-bold">Follow</button>
                <%end%>
              </div>
            </div>
            <div class="d-none d-md-block bg-white my-3">
              <%= render "home/ranking/user_leaderboard" %>
            </div>
            <div class="d-none d-md-block bg-white my-3">
              <%= render "home/ranking/tag_leaderboard" %>
            </div>
          </div>
          <div class="col-md-8">
            <div class="bg-white p-4">
              <div class="title-blog">
                <%= fa_icon('far fa-chart-bar font-size-12em', "Trends") %>
                <span class="text-muted font-size-08em">Like ranking last week</span>
              </div>
              <div class="view-blog">
                <% @post_trend.each do |post| %>
                  <%= render "home/post_index/topic", post: post %>
                <% end %>
              </div>
            </div>
            <div class="bg-white p-4 my-4">
              <div class="title-blog">
                <%= fa_icon("fa fa-fw fa-list","Newest posts") %>
              </div>
              <div class="view-blog">
                <% @post.each do |post| %>
                  <%= render "home/post_index/topic", post: post %>
                <% end %>
                <%== render partial: 'users/shared/pagination', locals: { pagy: @pagy } %>
              </div>
            </div>
            <div class="d-md-none bg-white py-2 my-2">
              <%= render "home/ranking/user_leaderboard" %>
            </div>
            <div class="d-md-none bg-white py-2 my-2">
              <%= render "home/ranking/tag_leaderboard" %>
            </div>
            <input type="hidden" class="path_current_tag" data-tag-follow-path="<%= follow_tag_tags_path %>"/>
          </div>
        </div>
      </div>
