<div class="container-fluid">
    <div class="card shadow mb-4">
        <div class="card-header py-3 d-flex">
            <%= render 'admins/posts/shared/nav' %>
        </div>
        <div class="card-body">
            <div class="table-responsive-xl">
                <table class="table table-hover text-center text-white table-dark" id="table-tag" width="100%" cellspacing="0">
                <thead>
                    <tr>
                      <th>ID</th>
                      <th>Title</th>
                      <th>Author</th>
                      <th>Status</th>
                      <th>Created At</th>
                      <th colspan="3" >Action</th>
                    </tr>
                  </thead>
                <tbody>
                  <% @posts.each do |posts| %>
                      <tr>
                        <td><%= posts.id %></td>
                        <td><%= posts.title %></td>
                        <td><%= posts.user.name %></td>
                        <td><%= posts.status %></td>
                        <td><%= posts.created_at.strftime("%d/%m/%Y - %H:%M") %></td>
                        <td>
                          <%= link_to admins_post_path(posts) do %>
                            <i class="fas fa-exclamation-circle text-primary show-action"></i>
                          <% end %>
                        </td>
                        <td>
                          <%= link_to "", data: {turbolinks: false} do %>
                            <i class="fas fa-thumbs-up text-success approve-action"></i>
                          <% end %>    
                        </td>
                      </tr>
                    <% end %>
                  </tbody>
                </table>
            </div>
        </div>
    </div>
</div>