<div id="notice_post" class="fixed-bottom d-flex text-center">
  <% if notice.present? %>
    <%= render partial: "layouts/messages" %>
  <% end %>
</div>
<div class="bg-light">
<div class="container position-relative font-body_post mt-5">
    <div class="row">
        <div class="p-0 col-md-1 d-none d-md-block">
            <div class="post-actions d-flex flex-column align-items-center mx-auto">
                <!---->
                <%= render partial: '/post_votings/vote_form', class: "vote", locals: { post: @post } %>
                <div class="subscribe mb-2">
                    <% if user_signed_in? %>
                    <%= link_to fa_icon("fa fa-paperclip"), clip_post_path(@post), class: "d-inline-block text-nowrap clip-button btn-out-line rounded-circle font-14p border-0 #{ button_clip_post_check }", method: :put, remote: true %>
                    <% else %>
                    <%= link_to fa_icon("fa fa-paperclip"), login_path, class: "d-inline-block text-nowrap clip-button btn-out-line rounded-circle font-14p border-0"%>
                    <% end %>
                </div>
                <div class=" mb-2 font-15p d-flex align-items-center flex-column text-center">
                    <a class="link_icon border border-secondary mb-2 rounded-circle btn_share_facebook"'>
                        <i class="text-muted fab fa-facebook"></i>
                    </a>
                    <a class="link_icon border border-secondary rounded-circle btn_share_twitter" data-url= '<%= request.original_url %>' data-title= '<%= @post.title %>'>
                        <i class="text-muted fab fa-twitter"></i>
                    </a>
                </div>
            </div>
        </div>
        <div class="col-md-8">
            <article class="post-content d-flex flex-column mh-100 px-5 bg-white border rounded pt-3">
            <header class="mb-2">
                <h1 class="text-left text-dark text-break mb-4">
                    <%= @post.title %>
                </h1>
                <div class="tags">
                    <% @post.tags.each do |tag| %>
                        <%= link_to tag.name, tag_path(tag), class: "px-2 border-tag text-secondary tag-info font-12p d-inline-block text-nowrap overflow-hidden"  %>
                    <% end%>
                </div>
                <div class="d-sm-flex mb-2 align-items-start justify-content-between mt-3">
                
                    <div class=" post-author mb-2 mb-sm-0 align-items-center d-flex">
                        <a href="#" class="mr-1">
                            <div class="d-inline-block avatar-user--top">
                                <%= image_tag default_avatar_user(@user), class: 'mr-auto rounded-circle avatar-user--top' %>
                            </div>
                        </a>

                        <div class="post-author__info overflow-hidden mr-1 ml-1 text-nowrap">
                            <div class="d-flex">
                                <div class="flex-fix mr-05 overflow-hidden text-nowrap">
                                    <%= link_to @user.full_name, user_path(@user), class: "text-bold post-author__name" %>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="d-flex flex-column flex-wrap">
                        <div class="text-muted">
                            Published Apr 3rd, 7:05 PM
                            <span class="text-muted">
                            - 7 min read
                            </span>
                        </div>
                    </div>

                </div>
            </header>

            <div class="d-md-flex align-items-top justify-content-between">
                <div class="tags"></div>
                <div class="el-dropdown">
                    <button class="btn bg-white border-0" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">...</button>
                    <div class="dropdown-menu">
                        <%- if @post.edit_able?(current_user)%>
                            <div class="dropdown-item">
                                <i class='far fa-flag mr-05 pr-1 fa-fw'></i>
                                <%= link_to 'Edit', edit_post_path, class: 'text-dark' %>
                            </div>
                            <div class="dropdown-item">
                                <i class="far fa-plus-square pr-1 mr-05 fa-fw"></i> 
                                <%= link_to 'Delete this post', post_path, class: 'text-dark', method: :delete, data: {confirm: 'Are you sure delete this post?'} %>
                            </div>
                        <% else %>
                            <div class="dropdown-item">
                                <i class='far fa-flag mr-05 pr-1 fa-fw'></i>
                                <% if current_user.blank? %>
                                    <%= link_to 'Report', login_path, class: 'text-dark' %>
                                <% else %>
                                    <span id = 'updateDetails' class="text-dark">Report</span>
                                <% end %>
                            </div>
                        <% end %>
                        <div class="dropdown-item">
                            <i class="fa fa-magic pr-1 mr-05 fa-fw"></i>Highlighting code blocks
                        </div>
                    </div>
                </div>
            </div>

            <div class="md-contents font-18p my-2 flex-fill overflow-hidden mw-50">
                <%== @post.content%>

                <input type="hidden" id="title_post" data-title-post="<%= @post.title %>"/>
                <input type="hidden" id="url_post" data-url-post="<%= request.original_url %>"/>
                <input type="hidden" id="path_current" data-view-path="<%= view_post_path %>"/>
                <input type="hidden" id="user_create_post" data-user-create-post="<%= user_create_post?(@post) %>"/>
            </div>

            <!-- Post comments-->

            <input type="hidden" id="path_comments" data-comments-path="<%= comments_path %>"/>
            <input type="hidden" id="size_comments" data-comments-size="<%= @comments.size %>"/>

            <!-- end -->
            </article>

            <h4 class="comments-title font-weight-bold mt-4 mb-3">Comments</h4>
            <div class="bg-light border rounded p-2 mb-4">
                <%= render "comments/new" %>
            </div>
            <div class="bg-light mb-3">

                <div class="comments my-2" id="cmt">

                    <!-- create comment-->
        
                    <div id="list-comment-create"></div>
                    <!-- end -->

                    <%= render partial: 'comments/comment', collection: @newest_comment_list%>

                    <div id="list-comments">
                        <!--list comments-->
                    </div>
                    <div class="text-center">
                        <% if @comments.size > Comment::NUMBER_COMMENTS_5 %>
                            <button type="submit" id="load-more" class="btn btn-outline-info btn-sm mb-3 mt-3">More</button>
                        <% end %>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="col-md-3 d-md-block">
            <%= render 'posts/shared/info_user'%>
        </div>
    </div>
</div>

<div class="post-bottom-bar border-top w-100 text-center bg-white d-flex position-fixed fixed-bottom d-md-none d-flex align-items-center zindex-fixed mb-0">
    <a href="#" class="ml-1">
        <div class="d-inline-block avatar-user--bot align-items-center">
            <%= image_tag  default_avatar_user(@user), class: 'avatar-user--bot mr-auto rounded-circle'%>
        </div>
    </a>
	<div class="font-12 d-flex ml-2 align-items-center">
		<a class="vote">
			<i class="fa fa-arrow-up"></i>
		</a>
		<div class="ml-2 mr-2 text-center">
            <%= @post.vote_count%>
         </div>
		<a class="vote">
			<i class="fa fa-arrow-down"></i>
		</a>
	</div>
  <div class="d-inline-block ml-auto sharings d-flex align-items-center font-15p text-center mr-2">
      <div class="subscribe">
          <% if user_signed_in? %>
            <%= link_to fa_icon("fa fa-paperclip"), clip_post_path(@post), class: "btn btn-light rounded-circle #{ button_clip_post_check }", method: :put, remote: true %>
          <% else %>
            <%= link_to fa_icon("fa fa-paperclip"), login_path, class: "btn btn-light rounded-circle" %>
          <% end %>
      </div>
      <span>•</span>
      <a class="sharing-item rounded-circle btn_share_facebook">
          <i class="fab fa-facebook text-primary"></i>
      </a>
      <span>•</span>
      <a class="sharing-item rounded-circle btn_share_twitter">
          <i class="fab fa-twitter text-info"></i>
      </a>
   </div>

</div>

<%= render '/dialog_report/dialog-post' unless current_user.blank?%>
</div>