<!DOCTYPE html>
<html>
  <head>
    <title>Hituno</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name = 'viewport' content = 'width=device-width, initial-scale=1.0'>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <%= show_header %>
    <div id="content-page">
      <%= yield %>
    </div>
    <%= show_footer %>
    <%= render  "users/shared/back_to_top" %>
  </body>
</html>
