<% provide(:title, "Signup")%>
<div class="container-fuild h-screen font-type bg-image mt--3">
    <div class="w-25 m-auto pt-5">
      <h3 class="w-100 text-muted-light mb-3 text-center">
        <%= link_to root_path, class: "navbar-brand text-muted-light" do %>
          <i class="fas fa-home"></i>
        <% end %>Signup
      </h3>
      <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
        <div class="form-group pt-3 border-bottom d-flex">
          <i class="fas fa-signature mt-2 text-white"></i>
          <%= f.text_field :first_name, class: 'input-form-opacity placeholder-color-white', placeholder: 'First name', required: true %>
          <% if resource.errors[:first_name].present?%>
            <p class="text-danger">First name <%= resource.errors[:first_name].first %></p>
          <%end%>
        </div>
        <div class="form-group pt-3 border-bottom d-flex">
          <i class="fas fa-file-signature mt-2 text-white"></i>
          <%= f.text_field :last_name, class: 'input-form-opacity placeholder-color-white', placeholder: 'Last name', required: true %>
          <% if resource.errors[:last_name].present?%>
            <p class="text-danger">Last name <%= resource.errors[:last_name].first %></p>
          <%end%>
        </div>
        <div class="form-group pt-3 border-bottom d-flex">
          <i class="fas fa-user-alt mt-2 text-white"></i>
          <%= f.text_field :name, class: 'input-form-opacity placeholder-color-white', placeholder: 'User name',required: true %>
          <% if resource.errors[:name].present?%>
            <p class="text-danger">Name <%= resource.errors[:name].first %></p>
          <%end%>
        </div>
        <div class="form-group pt-3 border-bottom d-flex">
          <i class="fas fa-envelope-open-text text-light mt-2"></i>
          <%= f.email_field :email, class: 'input-form-opacity placeholder-color-white', placeholder: 'Email', required: true %>
          <% if resource.errors[:email].present?%>
            <p class="text-danger">Email <%= resource.errors[:email].first %></p>
          <%end%>
        </div>
        <div class="form-group pt-3 border-bottom d-flex">
          <i class="fas fa-key text-light mt-2"></i>
          <%= f.password_field :password, class: 'input-form-opacity placeholder-color-white', placeholder: 'Password', required: true %>
          <% if resource.errors[:password].present?%>
            <p class="text-danger">Password <%= resource.errors[:password].first %></p>
          <%end%>
        </div>
        <div class="help-block mt-5 text-light">
          Sign up in 30 seconds. If you already have a PK's World account 
          <%= link_to  "log in", login_path %>.
        </div>
        <div class="form-group pt-3">
          <%= f.submit "Agree and register", class:"btn bg-instagram-story w-100 mt-5 text-white font-weight-bold border-0" %>
        </div>
      <% end %>
    </div>
</div>